<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRV Analysis</title>
</head>
<body>
    <div style="margin-left:10%; margin-right:10%; margin-top:3%">
        <div style="margin-left:10%; margin-right:10%; margin-top:3%; text-align:center; border: 1px solid black; padding-bottom: 15px;">
            <h2>Let's try everything</h2>
            <h3>Note: The uploaded file should be the same structure with the file you sent me in fiverr.</h3>
            <form action="/hrv_results" method="post" enctype="multipart/form-data">
                <input type="file" name="data_file" />
                <input type="submit" value='Upload'/>
            </form>
        </div>
    </div>
</body>
</html>